
.container__list {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

@media (max-width: 767px) {
    .bottom__header {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .container__caption--bottom {
       text-align: center;
    }
}

    .container__listIteam {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
        margin: 10px 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    .tasks__item--hidden {
        display: none;
    }
    .tasks__buttonToggle {
        border: none;
        color: white;
        background-color: rgb(12, 117, 56);
        width: 30px;
        height: 30px;
        transition: 1s;
    }
    .tasks__buttonToggle:hover {
        background-color: rgb(55, 145, 92);
    }
    .tasks__buttonToggle:active {
        background-color: rgba(50, 117, 78, 0.884);
    }
    .tasks__buttonToggle--done {
        
    }
    .tasks__content--done {
        text-decoration: line-through;
    }
    .tasks__buttonRemove {
        border: none;
        color: white;
        background-color: rgb(202, 51, 23);
        width: 30px;
        height: 30px;
        transition: 1s;
    }
    .tasks__buttonRemove:hover {
        background-color: rgb(182, 89, 91);
    }
    .tasks__buttonRemove:active {
        background-color: rgb(221, 109, 109);
    }